# Panels

In [1]:
import pandas
from pandas_datareader import data

### 1. The Axes of a Panel Object

In [3]:
companies = ["MSFT", "GOOG", "AAPL", "YHOO", "AMZN"]
P = data.DataReader(name = companies, data_source="google", start = "2010-01-01", end="2016-12-31")
P

<class 'pandas.core.panel.Panel'>
Dimensions: 5 (items) x 251 (major_axis) x 5 (minor_axis)
Items axis: Open to Volume
Major_axis axis: 2016-10-26 00:00:00 to 2017-10-24 00:00:00
Minor_axis axis: AAPL to YHOO

In [4]:
P.items

Index(['Open', 'High', 'Low', 'Close', 'Volume'], dtype='object')

In [5]:
P.major_axis

DatetimeIndex(['2016-10-26', '2016-10-27', '2016-10-28', '2016-10-31',
               '2016-11-01', '2016-11-02', '2016-11-03', '2016-11-04',
               '2016-11-07', '2016-11-08',
               ...
               '2017-10-11', '2017-10-12', '2017-10-13', '2017-10-16',
               '2017-10-17', '2017-10-18', '2017-10-19', '2017-10-20',
               '2017-10-23', '2017-10-24'],
              dtype='datetime64[ns]', name='Date', length=251, freq=None)

In [6]:
P.axes

[Index(['Open', 'High', 'Low', 'Close', 'Volume'], dtype='object'),
 DatetimeIndex(['2016-10-26', '2016-10-27', '2016-10-28', '2016-10-31',
                '2016-11-01', '2016-11-02', '2016-11-03', '2016-11-04',
                '2016-11-07', '2016-11-08',
                ...
                '2017-10-11', '2017-10-12', '2017-10-13', '2017-10-16',
                '2017-10-17', '2017-10-18', '2017-10-19', '2017-10-20',
                '2017-10-23', '2017-10-24'],
               dtype='datetime64[ns]', name='Date', length=251, freq=None),
 Index(['AAPL', 'AMZN', 'GOOG', 'MSFT', 'YHOO'], dtype='object')]

### 2. Panel Attributes

In [7]:
P.axes

[Index(['Open', 'High', 'Low', 'Close', 'Volume'], dtype='object'),
 DatetimeIndex(['2016-10-26', '2016-10-27', '2016-10-28', '2016-10-31',
                '2016-11-01', '2016-11-02', '2016-11-03', '2016-11-04',
                '2016-11-07', '2016-11-08',
                ...
                '2017-10-11', '2017-10-12', '2017-10-13', '2017-10-16',
                '2017-10-17', '2017-10-18', '2017-10-19', '2017-10-20',
                '2017-10-23', '2017-10-24'],
               dtype='datetime64[ns]', name='Date', length=251, freq=None),
 Index(['AAPL', 'AMZN', 'GOOG', 'MSFT', 'YHOO'], dtype='object')]

In [9]:
P.items

Index(['Open', 'High', 'Low', 'Close', 'Volume'], dtype='object')

In [10]:
P.major_axis

DatetimeIndex(['2016-10-26', '2016-10-27', '2016-10-28', '2016-10-31',
               '2016-11-01', '2016-11-02', '2016-11-03', '2016-11-04',
               '2016-11-07', '2016-11-08',
               ...
               '2017-10-11', '2017-10-12', '2017-10-13', '2017-10-16',
               '2017-10-17', '2017-10-18', '2017-10-19', '2017-10-20',
               '2017-10-23', '2017-10-24'],
              dtype='datetime64[ns]', name='Date', length=251, freq=None)

In [11]:
P.minor_axis

Index(['AAPL', 'AMZN', 'GOOG', 'MSFT', 'YHOO'], dtype='object')

In [13]:
P.ndim

3

In [15]:
P.dtypes

Open      float64
High      float64
Low       float64
Close     float64
Volume    float64
dtype: object

In [16]:
P.shape

(5, 251, 5)

In [17]:
P.size

6275

In [18]:
P.values

array([[[  1.14310000e+02,   8.32760000e+02,   8.06340000e+02,
           6.08100000e+01,   4.22600000e+01],
        [  1.15390000e+02,   8.31240000e+02,   8.01000000e+02,
           6.06100000e+01,   4.23100000e+01],
        [  1.13870000e+02,   7.82000000e+02,   8.08350000e+02,
           6.00100000e+01,   4.20300000e+01],
        ...,
        [  1.56610000e+02,   9.93530000e+02,   9.89440000e+02,
           7.83200000e+01,   6.76500000e+01],
        [  1.56890000e+02,   9.86730000e+02,   9.89520000e+02,
           7.89900000e+01,   6.76300000e+01],
        [  1.56290000e+02,   9.69000000e+02,   9.70000000e+02,
           7.89000000e+01,   6.66900000e+01]],

       [[  1.15700000e+02,   8.33440000e+02,   8.06980000e+02,
           6.12000000e+01,   4.24400000e+01],
        [  1.15860000e+02,   8.31720000e+02,   8.03490000e+02,
           6.08300000e+01,   4.24900000e+01],
        [  1.15210000e+02,   7.89490000e+02,   8.15490000e+02,
           6.05200000e+01,   4.22200000e+01],
        ...,
        [  1.57750000e+02,   9.94620000e+02,   9.91000000e+02,
           7.89700000e+01,   6.83600000e+01],
        [  1.57690000e+02,   9.86780000e+02,   9.89520000e+02,
           7.93400000e+01,   6.80000000e+01],
        [  1.57420000e+02,   9.79850000e+02,   9.72230000e+02,
           7.92000000e+01,   6.72000000e+01]],

       [[  1.13310000e+02,   8.20000000e+02,   7.96320000e+02,
           6.04700000e+01,   4.19500000e+01],
        [  1.14100000e+02,   8.15430000e+02,   7.91500000e+02,
           6.00900000e+01,   4.18100000e+01],
        [  1.13450000e+02,   7.74610000e+02,   7.93590000e+02,
           5.95800000e+01,   4.17100000e+01],
        ...,
        [  1.55960000e+02,   9.82000000e+02,   9.84580000e+02,
           7.82200000e+01,   6.74500000e+01],
        [  1.55500000e+02,   9.62500000e+02,   9.66120000e+02,
           7.87600000e+01,   6.64000000e+01],
        [  1.56200000e+02,   9.65000000e+02,   9.61000000e+02,
           7.84600000e+01,   6.64000000e+01]],

       [[  1.15590000e+02,   8.22590000e+02,   7.99070000e+02,
           6.06300000e+01,   4.20800000e+01],
        [  1.14480000e+02,   8.18360000e+02,   7.95350000e+02,
           6.01000000e+01,   4.18700000e+01],
        [  1.13720000e+02,   7.76320000e+02,   7.95370000e+02,
           5.98700000e+01,   4.17800000e+01],
        ...,
        [  1.56250000e+02,   9.82910000e+02,   9.88200000e+02,
           7.88100000e+01,   6.75100000e+01],
        [  1.56170000e+02,   9.66300000e+02,   9.68450000e+02,
           7.88300000e+01,   6.65100000e+01],
        [  1.57100000e+02,   9.75900000e+02,   9.70540000e+02,
           7.88600000e+01,   6.66100000e+01]],

       [[  6.61342190e+07,   3.99810200e+06,   1.64773300e+06,
           2.99116080e+07,   6.12302600e+06],
        [  3.45620450e+07,   7.40638500e+06,   2.74922100e+06,
           2.84798560e+07,   7.24084800e+06],
        [  3.78616620e+07,   1.08410730e+07,   4.26990200e+06,
           3.35746840e+07,   6.19746900e+06],
        ...,
        [  2.39741460e+07,   2.36512200e+06,   1.18318600e+06,
           2.28664260e+07,   7.14944200e+06],
        [  2.19843270e+07,   3.49410000e+06,   1.47844800e+06,
           2.06271730e+07,   3.95912300e+06],
        [  1.77572300e+07,   2.72393500e+06,   1.21215300e+06,
           1.75171820e+07,   3.66700100e+06]]])

In [19]:
P.items

Index(['Open', 'High', 'Low', 'Close', 'Volume'], dtype='object')

In [21]:
P["Open"]

              AAPL     AMZN    GOOG   MSFT   YHOO
Date
2016-10-26  114.31   832.76  806.34  60.81  42.26
2016-10-27  115.39   831.24  801.00  60.61  42.31
2016-10-28  113.87   782.00  808.35  60.01  42.03
2016-10-31  113.65   781.03  795.47  60.16  42.03
2016-11-01  113.46   799.00  782.89  59.97  41.13
2016-11-02  111.40   783.93  778.20  59.82  41.80
2016-11-03  110.98   765.05  767.25  59.53  40.62
2016-11-04  108.53   762.79  750.66  58.65  39.96
2016-11-07  110.08   771.64  774.50  59.78  41.17
2016-11-08  110.31   784.97  783.40  60.55  40.97
2016-11-09  109.88   764.00  779.94  60.00  40.44
2016-11-10  111.09   778.81  791.17  60.48  41.55
2016-11-11  107.12   735.73  756.54  58.23  39.84
2016-11-14  107.71   745.51  755.60  59.02  40.36
2016-11-15  106.57   730.00  746.97  58.33  39.61
2016-11-16  106.70   739.88  755.20  58.94  40.10
2016-11-17  109.81   749.32  766.92  60.41  41.34
2016-11-18  109.72   761.00  771.37  60.78  41.48
2016-11-21  110.12   766.00  762.61  60.50  41.44
2016-11-22  111.95   788.17  772.63  60.98  41.20
2016-11-23  111.36   781.73  767.73  61.01  40.91
2016-11-25  111.47   786.50  764.26  60.30  41.08
2016-11-28  111.43   776.99  760.00  60.34  40.85
2016-11-29  110.78   768.00  771.53  60.65  41.43
2016-11-30  111.60   762.00  770.07  60.86  41.62
2016-12-01  110.36   752.41  757.44  60.11  41.00
2016-12-02  109.17   743.40  744.59  59.08  39.77
2016-12-05  110.00   745.00  757.71  59.70  40.02
2016-12-06  109.50   763.99  764.73  60.43  40.31
2016-12-07  109.26   764.55  761.00  60.01  39.98
...            ...      ...     ...    ...    ...
2017-09-13  159.87   983.97  930.66  74.93  65.40
2017-09-14  158.99   996.80  931.25  75.00  66.26
2017-09-15  158.47   993.01  924.66  74.83  66.39
2017-09-18  160.11   990.40  920.01  75.23  67.00
2017-09-19  159.51   977.25  917.42  75.21  67.30
2017-09-20  157.90   971.79  922.98  75.35  67.37
2017-09-21  155.80   971.31  933.00  75.11  67.00
2017-09-22  151.54   961.01  927.75  73.99  66.45
2017-09-25  149.99   949.31  925.45  74.09  67.00
2017-09-26  151.78   945.49  923.72  73.67  65.08
2017-09-27  153.80   948.00  927.74  73.55  65.13
2017-09-28  153.89   951.86  941.36  73.54  65.90
2017-09-29  153.21   960.11  952.00  73.94  65.64
2017-10-02  154.26   964.00  959.98  74.71  66.60
2017-10-03  154.01   958.00  954.00  74.67  67.19
2017-10-04  153.63   954.21  957.00  74.09  67.79
2017-10-05  154.18   970.00  955.49  75.22  67.75
2017-10-06  154.97   975.64  966.70  75.67  67.49
2017-10-09  155.81   993.24  980.00  75.97  67.85
2017-10-10  156.06   996.67  980.00  76.33  68.51
2017-10-11  155.97   991.27  973.72  76.36  68.75
2017-10-12  156.35   996.81  987.45  76.49  69.00
2017-10-13  156.73  1007.00  992.00  77.59  68.17
2017-10-16  157.90  1008.44  992.10  77.42  67.91
2017-10-17  159.78  1005.59  990.29  77.47  68.00
2017-10-18  160.42  1009.27  991.77  77.67  67.20
2017-10-19  156.75   990.00  986.00  77.57  66.97
2017-10-20  156.61   993.53  989.44  78.32  67.65
2017-10-23  156.89   986.73  989.52  78.99  67.63
2017-10-24  156.29   969.00  970.00  78.90  66.69

[251 rows x 5 columns]

In [23]:
P["Volume"].head()

                  AAPL        AMZN       GOOG        MSFT        YHOO
Date
2016-10-26  66134219.0   3998102.0  1647733.0  29911608.0   6123026.0
2016-10-27  34562045.0   7406385.0  2749221.0  28479856.0   7240848.0
2016-10-28  37861662.0  10841073.0  4269902.0  33574684.0   6197469.0
2016-10-31  26419398.0   5413326.0  2427284.0  26434697.0   3749658.0
2016-11-01  43825812.0   5305428.0  2406356.0  24532986.0  11751521.0

In [25]:
P.Volume.head()

                  AAPL        AMZN       GOOG        MSFT        YHOO
Date
2016-10-26  66134219.0   3998102.0  1647733.0  29911608.0   6123026.0
2016-10-27  34562045.0   7406385.0  2749221.0  28479856.0   7240848.0
2016-10-28  37861662.0  10841073.0  4269902.0  33574684.0   6197469.0
2016-10-31  26419398.0   5413326.0  2427284.0  26434697.0   3749658.0
2016-11-01  43825812.0   5305428.0  2406356.0  24532986.0  11751521.0