# Working with Dates and Times

### 1. Intro to the Working with Dates and Times Module

In [2]:
import pandas as pd
import datetime as dt

### 2. Review of Python's datetime Module

In [5]:
someday = dt.date(2016, 4, 12)

In [6]:
someday.year

2016

In [7]:
someday.month

4

In [8]:
someday.day

12

In [10]:
dt.datetime(2010, 1, 10, 13, 57)

datetime.datetime(2010, 1, 10, 13, 57)

In [11]:
str(dt.datetime(2010, 1, 10, 13, 57))

'2010-01-10 13:57:00'

### 3. The pandas Timestamp Object

In [13]:
pd.Timestamp("2015-03-31")

Timestamp('2015-03-31 00:00:00')

In [14]:
pd.Timestamp("2015/03/31")

Timestamp('2015-03-31 00:00:00')

In [15]:
pd.Timestamp("2015, 03, 31")

Timestamp('2015-03-31 00:00:00')

In [16]:
pd.Timestamp("1/1/2015")

Timestamp('2015-01-01 00:00:00')

In [17]:
pd.Timestamp("19/12/2015")

Timestamp('2015-12-19 00:00:00')

In [18]:
pd.Timestamp("12/19/2015")

Timestamp('2015-12-19 00:00:00')

In [19]:
pd.Timestamp("4/3/2015")

Timestamp('2015-04-03 00:00:00')

In [20]:
pd.Timestamp("2021-03-08 08:35:15")

Timestamp('2021-03-08 08:35:15')

In [21]:
pd.Timestamp("2021-03-08 6:13:29 PM")

Timestamp('2021-03-08 18:13:29')

In [22]:
pd.Timestamp("2015, 1, 1")

Timestamp('2015-01-01 00:00:00')

In [23]:
pd.Timestamp(dt.datetime(2000, 2, 3, 21, 34))

Timestamp('2000-02-03 21:34:00')

### 4. The pandas DateTimeIndex Object

In [25]:
dates = ["2016-01-02", "2016-04-12", "2009-09-07"]
pd.DatetimeIndex(dates)

DatetimeIndex(['2016-01-02', '2016-04-12', '2009-09-07'], dtype='datetime64[ns]', freq=None)

In [28]:
dates = [dt.date(2016, 1, 10), dt.date(1994, 6, 13), dt.date(2003, 12, 19)]
dtIndex = pd.DatetimeIndex(dates)

In [27]:
values = [100, 200, 300]

In [29]:
pd.Series(data = values, index = dtIndex)

2016-01-10    100
1994-06-13    200
2003-12-19    300
dtype: int64

### 5. The pd.to_datetime() Method

In [30]:
 pd.to_datetime("2001-04-09")

Timestamp('2001-04-09 00:00:00')

In [31]:
 pd.to_datetime(dt.date(2015, 1, 1))

Timestamp('2015-01-01 00:00:00')

In [32]:
pd.to_datetime(dt.datetime(2015, 1, 1, 14, 35, 20))

Timestamp('2015-01-01 14:35:20')

In [33]:
pd.to_datetime(["2015-01-03", "2014/02/08", "2016", "July 4th 1996"])

DatetimeIndex(['2015-01-03', '2014-02-08', '2016-01-01', '1996-07-04'], dtype='datetime64[ns]', freq=None)

In [35]:
times = pd.Series(["2015-01-03", "2014/02/08", "2016", "July 4th 1996"])

In [36]:
times

0       2015-01-03
1       2014/02/08
2             2016
3    July 4th 1996
dtype: object

In [37]:
pd.to_datetime(times)

0   2015-01-03
1   2014-02-08
2   2016-01-01
3   1996-07-04
dtype: datetime64[ns]

In [40]:
dates = pd.Series(["July 4th 1996", "10/04/1991", "Hello", "2015-02-31"])
dates

0    July 4th 1996
1       10/04/1991
2            Hello
3       2015-02-31
dtype: object

In [42]:
pd.to_datetime(dates, errors="coerce")

0   1996-07-04
1   1991-10-04
2          NaT
3          NaT
dtype: datetime64[ns]

### 6. Create Range of Dates with the pd.date_range() Method, Part 1