# Options and Settings

In [1]:
import pandas as pd
import numpy as np

### 1. Changing pandas Options with Attributes and Dot Syntax

In [2]:
data = np.random.randint(0, 100, [1000, 50])

In [4]:
df = pd.DataFrame(data)
df.tail(3)

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
997,52,14,26,98,65,41,95,59,2,50,...,63,11,42,57,47,40,26,73,31,92
998,38,86,82,35,41,36,33,29,35,5,...,43,12,4,89,88,8,16,10,58,32
999,5,7,33,54,22,97,14,18,23,83,...,56,88,94,9,2,55,78,39,55,45

In [9]:
pd.options.display.max_rows = 4

In [13]:
pd.options.display.max_columns = 8

In [14]:
df

     0   1   2   3  ...  46  47  48  49
0    61  98  38  74 ...  40  84  58  25
1    23  47  32   1 ...  16  76  76  77
..   ..  ..  ..  .. ...  ..  ..  ..  ..
998  38  86  82  35 ...  16  10  58  32
999   5   7  33  54 ...  78  39  55  45

[1000 rows x 50 columns]

### 2. Changing pandas Options with Methods

In [15]:
pd.get_option("max_rows")

4

In [16]:
pd.get_option("max_columns")

8

In [22]:
pd.set_option("max_columns", 20)

In [25]:
pd.options.display.max_columns = 10

In [26]:
pd.get_option("max_columns")

10

In [27]:
pd.reset_option("max_rows")

In [28]:
pd.get_option("max_rows")

60

In [29]:
df

     0   1   2   3   4  ...  45  46  47  48  49
0    61  98  38  74  49 ...  25  40  84  58  25
1    23  47  32   1  38 ...  10  16  76  76  77
2    76  42  58  63  85 ...  45  26  82  92  66
3    33  32  78  81   0 ...  31  58  14  32  81
4    21  72  45  41  12 ...  80  36   7  38  79
5    81  78  67  18  86 ...  79  64   0  46  90
6    88  37  21  22  46 ...   5  43  73  63  56
7    99  18  90   2  42 ...  38  82  28  35  80
8     7   0  65  32  48 ...  69  70  29  39  61
9    15  77  32   5   5 ...  94  77  82  98  53
10   98  53  39  99  61 ...   7  83  68  40  53
11   55  99   9  61  43 ...  73  56  66  96  16
12   74  62  37  77  40 ...  70  21  53  61  49
13   29  25  22   5  32 ...  72  55  27  51  78
14   74  29  79  25  66 ...  61  66   5  98  48
15   29  83   1  61  39 ...  79  42  12  52  32
16   81  72  44  85  15 ...  85  36   5  81  45
17   79  70  22  74   4 ...  31  80  51  29  66
18   65  98  41  19   8 ...  19   7  19  84  54
19   82  81  18  27   7 ...  28  95  37  96   3
20   72  98  79  31  60 ...  67  21  77  79  45
21   97  10  43   5  26 ...  26  32  25  65  93
22   49  78   1  71   2 ...  90  23   0   4  54
23   50  35  15  17  70 ...  31  47  37  82  76
24   18  61  51  28  91 ...  60  42  49  89  59
25   95  11  78  91  75 ...  46  74  86   8  29
26   54  76  60  92  74 ...  20  52  77  78  18
27   83  25  73  90  82 ...  60  35  43   4   7
28   45  77  70  86  22 ...  84  69  24  64  17
29   26  94  87  53  37 ...  91   2   6  52  56
..   ..  ..  ..  ..  .. ...  ..  ..  ..  ..  ..
970  12  29  34  36  33 ...  66  71  17  17  23
971  20  91   7  65  83 ...  32  94  70  49   7
972  31  85  16  99  82 ...  80   9  60  46  13
973   4  47  26  54  73 ...  66  48  44  38  76
974  89  58   3   2  50 ...  48  36   5  88  33
975  65  49  54  66  15 ...  74  55  41  38  17
976   0  56  94  80  61 ...  10  39  13  32  79
977  82  75  36  14  66 ...   6  76  69  21  88
978  58  39  17  37  73 ...   8  95  32  66  75
979  51  69  81  10  93 ...  20  80  19   9  32
980  80  41  38  47  99 ...  54  30  20  58  85
981  87  76  39  17  74 ...  43  63  73  29  45
982  94  71  59  51  16 ...  33  57  13  10  31
983  55  14   5  48  68 ...  11  24  76  95  71
984   4  21  86  81  24 ...  59  44  56  12   3
985   7  97  26  96  72 ...  18  68  98  89  80
986  73  16  92  82  74 ...  18   1  50  98  24
987  91  21  65  75  60 ...  26  76  11  47  89
988  27  97  17   5  70 ...  23  85  96   8  84
989  76  59  71  92  54 ...  55  91  38  52  19
990  72   9  18  98  47 ...  17  68  15  99   8
991  31  59  56  19  43 ...  92  13  29  89  66
992  78  48  15  64  17 ...  20  54  54  15  70
993  16  19  50  77  53 ...  43  31  45  63  19
994  23  44  76  92  32 ...  50  97  22  12  68
995  97  70  82  66  10 ...  26  30  16  31  57
996  84  15  18  93  67 ...  67  26  88  16  75
997  52  14  26  98  65 ...  40  26  73  31  92
998  38  86  82  35  41 ...   8  16  10  58  32
999   5   7  33  54  22 ...  55  78  39  55  45

[1000 rows x 50 columns]

In [30]:
pd.describe_option("max_columns")

display.max_columns : int
    If max_cols is exceeded, switch to truncate view. Depending on
    `large_repr`, objects are either centrally truncated or printed as
    a summary view. 'None' value means unlimited.

    In case python/IPython is running in a terminal and `large_repr`
    equals 'truncate' this can be set to 0 and pandas will auto-detect
    the width of the terminal and print a truncated object which fits
    the screen width. The IPython notebook, IPython qtconsole, or IDLE
    do not run in a terminal and hence it is not possible to do
    correct auto-detection.
    [default: 20] [currently: 10]

### 3. The precision Option

In [32]:
df = pd.DataFrame(np.random.randn(5, 5))
df

          0         1         2         3         4
0  1.059186  0.133614 -2.027446  0.873618  1.485860
1  0.542939  0.811436  2.110186 -0.059784  0.193815
2 -0.229816 -0.189084 -0.932766  0.766897 -2.178737
3  2.111829  2.111254  0.573036 -1.600886  1.293578
4  0.390687 -1.043997  1.062562  2.159751 -0.261425

In [33]:
pd.get_option("precision")

6

In [34]:
pd.set_option("precision", 2)

In [35]:
df

      0     1     2     3     4
0  1.06  0.13 -2.03  0.87  1.49
1  0.54  0.81  2.11 -0.06  0.19
2 -0.23 -0.19 -0.93  0.77 -2.18
3  2.11  2.11  0.57 -1.60  1.29
4  0.39 -1.04  1.06  2.16 -0.26

In [37]:
pd.reset_option("precision")